.row-proyects {
    background-color: #009688;
    color           : white;
}

.container-title-proyects {
    justify-content: center;
}

@media(min-width:768px) {
    .title-proyects {
        text-align: left;
    }

    .container-title-proyects {
        padding-top    : 20px;
        justify-content: left;
        padding-left   : 5%;
        padding-bottom : 20px;
    }
}
@media(min-width:1024px) {
    .row-proyects p{
        font-size: 24px;
    }
}