.container-contact{
    height: 120px;
    background-color: #009688;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}

@media(min-width: 768px){
    .container-contact{
        justify-content: left;
        padding-left: 5%;
    }
}
